{
    "secret": "TODO: get a secure, random string here! (And never change it!)",
    "dbUrl": "mongodb://127.0.0.1:50534/works-list",
    "dbUser": "works-list",
    "dbPass": "TODO: either put secure random string here, or an existing user pass!",
    "adminInvite": "TODO: place here a secret invite code that grants admin powers!",
    "bcryptRounds": 12
}