doctype html
html
    head
        title= title
        include favicons
        //-link(rel='stylesheet', href='/stylesheets/all.css')
        style: include:less ../stylesheets/all.less
    body
        include navbar
        #content
            block content
