doctype html
html
    head
        title= title
        include favicons
        link(rel='stylesheet', href='/static/' + get('css').md5 + '.css')
        script(src='/static/' + get('js').md5 + '.js')
    body
        include navbar
        #content
            block content
