doctype html
html
    head
        title= title
        include favicons
        //-link(rel='stylesheet', href='/stylesheets/style.css')
        style: include:less ../stylesheets/style.less
    body
        block content
