doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon-16.gif', sizes='16x16' type='image/gif')
    link(rel='icon', href='/images/favicon-32.png', sizes='32x32' type='image/png')
    link(rel='icon', href='/favicon.ico', sizes='16x16 32x32' type='image/vnd.microsoft.icon')
    link(rel='icon', href='/images/icon.svg', sizes='any' type='image/svg+xml')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content