#navbar
    a.logo(href='/')
    #account
        if loggedIn
            a(href='/profile')
                img.avatar(src=currentUser.gravatar(80), width=40, height=40)
        else
            a.entry(href='/login') Login
            span.separator
            a.entry(href='/signup') Sign Up
