extends layout

block content
    form#signup(action='/signup', method='post')
        div
            label Username:
            input.field(type='text', name='username' placeholder='Username')
        div
            label Email:
            input.field(type='email', name='email' placeholder='Email')
        div
            label Password:
            input.field(type='password', name='password' placeholder='Password')
        div
            label Confirm it:
            input.field(type='password', name='passwordConfirmation' placeholder='Password again')
        div
            label Invite:
            input.field(type='text', name='invite' placeholder='Invite code')
        div.submit
            input(type='submit', value='Sign Up')
