body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #DDD;
    margin: 0;
    padding: 0;
}

#v-bar, #h-bar, #m-logo { position: absolute; background: #CCC; }

#v-bar {
    width: 256px;
    left: 50%;
    margin-left: -128px;
    height: 100%;
}

#h-bar {
    height: 256px;
    top: 50%;
    margin-top: -128px;
    width: 100%;
}

#m-logo {
    width: 256px;
    height: 256px;
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -128px;
}
