
#login, #signup {
    .center-h(480px);
    .colors(@stressContrast, @stressColor);
    margin-top: 24px;
    padding-top: 12px;

    & > div {
        .relative;
        padding: 0 16px 12px 16px;
    }

    label {
        .inline-block;
        .single-line;
        .no-selection;
        .v-align-middle;
        font: 600 28px/32px @baseFont;
        width: 200px;
    }

    input {
        .no-border;
        .v-align-middle;
        height: 24px;
        outline: none;
    }

    .field {
        .size(240px, 28px);
        color: @textColor;
        font: 400 24px/28px @monoFont;
        padding: 0 4px;

        &:focus {
            box-shadow: 0 0 0 3px @stressAction;
        }

        &:invalid {
            color: @stressColor;
        }

        // These have to be in separate declarations, because of the vendor prefixes.
        &::-webkit-input-placeholder       { color: @darkGrey; opacity: 1; }
        &:-ms-input-placeholder            { color: @darkGrey; opacity: 1; }
        &::-moz-placeholder                { color: @darkGrey; opacity: 1; }
        &:focus::-webkit-input-placeholder { color: transparent; }
        &:focus:-ms-input-placeholder      { color: transparent; }
        &:focus::-moz-placeholder          { color: transparent; }
    }

    .submit {
        .bkg(@lightGrey);
        .text-center;

        input {
            .colors(@stressContrast, @stressColor);
            .v-align-bottom;
            font: 700 24px/36px @baseFont;
            height: 36px;
            margin: 12px;
            padding: 0 8px;

            &:hover, &:focus {
                .bkg(@stressAction);
            }
        }
    }

    .question-icon {
        .img-question-circle;
        .size(12px);
        cursor: pointer;
        opacity: 0.4;
    }

    .explain {
        & + .question-icon {
            .top-right(absolute);
            margin: 10px 18px;
        }

        &:hover + .question-icon,
        & + .question-icon:hover {
            opacity: 1;
        }
    }
}
