
.user-list {
    .center-h(800px);
    .clean-list;
    .pad0;
    margin-top: 16px;

    li {
        .bkg(#CCC);
        .relative;
        height: 128px + 16;
        margin: 0 0 20px 0;

        img {
            .absolute;
            .bkg(#D41A33);
            .dock-left(128px);
            padding: 8px;
        }

        div {
            margin-left: 128px + 16
        }

        .name {
            .bkg(#D41A33);
            .block;
            .pad(4px 8px);
            color: #FFF;
            font: bold 28px/32px sans-serif;
            height: 32px;
        }
    }
}
